<!DOCTYPE html>
<html  lang="en" xmlns:th="www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template">
<head>
<title th:text="${title}"></title>
</head>
<body>
  <div class=" container h-100" layout:fragment="main">
  	  <h1 class="text-center f5 text-secondary">NafaMarket</h1>
  	  
  	  <div>
  	      <h1 class="f5 c4"> Who We are ?</h1>
  	      <h4 class="f4 text-justify" style="line-height: 1.5;">
  	      <em class="c1 f5">NafaMarket</em> is a business web site design by students who truly believe in  E-Commerce business and the future of Internet.
  	       We are  specialized in selling high consumption products like mobile phone , Computers , electronics devices etc... 
  	      We are working every times with our partners to give our customers good quality of services. 
  	      </h4>
  	  </div>
  	   <div >
  	       <h1 class="f5 c4 "> Our goals : </h1>
  	       <h4 class="f4 text-justify" style="line-height: 1.5;"> Many factors push us to start our E-Commerce business . Nowadays, with digital evolution  Internet becomes common to everyone.
  	        The mains goals of this Web Site  is to provide online products for people. Its then a good and secure place  for online shopping, people can have more time for their job.</h4>
  	  </div>

  </div>
</body>
</html>