<!DOCTYPE html>
<html  lang="en" xmlns:th="www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="template">
<head>
	<title th:text="${title}"></title>
</head>
<body>
 <div class="d-flex" layout:fragment="nav"><!--NO NAV BAR--></div>
  <div class="container" layout:fragment="main">
  	  
  	  <div class="col-md-4 my-5 mx-auto" style=" margin: auto;">
	          <div class="card text-white  ">
	              <div class="card-header bg-primary text-light ">Authentification </div>
							           
			            <div class="card-body">
			                      <div th:if="${param.error}" class="text-danger">
			                        incorrect user name or password
			                      </div>
			                      <div th:if="${param.logout}" class="text-danger">
			                       you have been logged out
			                      </div>
					              <form th:action="@{/login}" method="post">
					              <input th:if="${_csrf!=null}" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					              
					                <div class="form-group"> <label>Email address</label>
					                  <input name="username" type="text" class="form-control" placeholder="Enter user name"/> </div>
					                <div class="form-group"> <label>Password</label>
					                  <input type="password" name="password" class="form-control" placeholder="Password"/> </div>
					                <button type="submit" class="btn btn-primary">Login</button>
					              </form>
			            </div>
	          </div>
        </div>

  </div>
  <div layout:fragment="footer"><!--NO FOOTER--></div>
</body>
</html>